# Homework 1 - Introduction to Machine Learning #

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [3]:
laptops = pd.read_csv("./data/laptops.csv")

In [4]:
print(laptops.count())

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [5]:
print(laptops.shape[0])
print(laptops.shape[1])

2160
12

In [6]:
print(laptops["Brand"].nunique())

27

In [7]:
laptops.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
laptops.head(10)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
5,MSI Crosshair 17 C12VF-264XES Intel Core i7-12...,New,MSI,Crosshair,Intel Core i7,32,1000,SSD,RTX 4060,17.3,No,1699.00
6,Lenovo Thinkpad E14 Gen 4 AMD Ryzen 5 5625U/8G...,New,Lenovo,ThinkPad,AMD Ryzen 5,8,256,SSD,NaN,14.0,No,909.00
7,ASUS VivoBook 15 F515JA-EJ2882W Intel Core i7-...,New,Asus,VivoBook,Intel Core i7,8,512,SSD,NaN,15.6,No,809.01
8,Medion Akoya E15415 Intel Core i5-10210U/8GB/2...,New,Medion,Akoya,Intel Core i5,8,256,SSD,NaN,15.6,No,519.00
9,HP Victus 16-d1038ns Intel Core i7-12700H/16GB...,New,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,16.1,No,1149.00

In [9]:
dell_laptops = laptops[laptops['Brand'] =='Dell']

In [10]:
print(dell_laptops.shape[0])

84

In [11]:
print(dell_laptops['Final Price'].max())

3936.0

In [12]:
print(laptops['Screen'].median())

15.6

In [13]:
laptops['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [14]:
laptops['Screen'].fillna(15.6)

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [15]:
laptops = pd.read_csv("./data/laptops.csv")

In [16]:
laptops.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [17]:
print(laptops['Screen'].median())

15.6

In [18]:
print(laptops['Screen'].mode())

0    15.6
Name: Screen, dtype: float64

In [19]:
laptops['Screen'].fillna(15.6,inplace=True)

/var/folders/c_/vcsqh30d2l3f9r5b6y0_w8n00000gn/T/ipykernel_51113/2590753201.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  laptops['Screen'].fillna(15.6,inplace=True)

In [20]:
laptops.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [21]:
print(laptops['Screen'].median())

15.6

In [22]:
innjoo_laptops = laptops[laptops['Brand']=='Innjoo']

In [23]:
print(innjoo_laptops["Brand"].nunique())

1

In [24]:
innjoo_selected_columns = innjoo_laptops[['RAM', 'Storage', 'Screen']]
X = innjoo_selected_columns.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [25]:
import numpy as np

In [26]:
X_T = X.T
XTX = np.dot(X_T, X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = np.dot(XTX_inv, np.dot(X_T, y))

print(w)
np.sum(w)

[45.58076606  0.42783519 45.29127938]

91.2998806299593